@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Create By: @ViewData["creator"]</p>
<address>
    <strong>For more informations: </strong><a href="https://www.udemy.com/"> Udemy.com</a>
</address>
